{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions"
        ]
      }
    }],
    "stage-2",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        ["css-modules-transform", {
          "generateScopedName": "[name]__[local]__[hash:base64:5]"
        }]
      ]
    }
  },
}