.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 10px;
}

.card img {
  min-height: 320px;
  max-height: 320px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 12px;
}

.row h2 {
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 5px;
}

.year {
  border: 1px solid black;
  padding: 2px;
}

p {
  font-size: 12px;
}