.container {
  display: flex;
  justify-content: space-between;
}

.container div {
  margin-left: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-right: 100px;
}

.row div {
  cursor: pointer;
  margin: 0 10px;
}

.selected {
  color: #F55263;
}